.main-overview-box {

    -fx-padding: 80px;
    -fx-spacing: 10px;
    -fx-alignment: top-center;
    -fx-background-color: #DFEAF6
}

.field {
    -fx-spacing: 300px
}

.title-text {
    -fx-pref-height: 100px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 40pt;
    -fx-font-family: "Agency FB";
}

.field-text {
    -fx-alignment: center;
    -fx-font-size: 20pt;
    -fx-font-family: "Cambria";
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #EED6C7;
}

.field-text-result {
    -fx-alignment: center;
    -fx-font-size: 20pt;
    -fx-font-family: "Cambria";
    
    -fx-background-color: #DFEAF6;
}

.input-grid {
    -fx-background-color: #EAEFF5;
}

.field-box {
    -fx-alignment: center;
    -fx-font-size: 20pt;
    -fx-font-family: "Cambria";
}

.field-box:focused {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-text-box-border, -10%), -fx-text-box-border),
        linear-gradient(from 0px 0px to 0px 5px, derive(-fx-control-inner-background, -9%), -fx-control-inner-background);
}

.next-button {
    -fx-text-fill: #eee;
    -fx-font-size: 20pt;
    -fx-font-family: "Cambria";
    -fx-background-color: #104B93;
    -fx-alignment: center;
}

.next-button:hover {

    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
}

.green-border {
    -fx-border-color: #73D21A;
}

.red-border {
    -fx-border-color: red;
}