.title-text {
    -fx-pref-height: 100px;
    -fx-alignment: center;
    -fx-font-weight: bold;
    -fx-font-size: 40pt;
    -fx-font-family: "Agency FB";
}

.menu-button {
    -fx-pref-width: 200px;
    -fx-pref-height: 75px;
    -fx-font-size: 20px;
    -fx-font-family: "Cambria";
    -fx-background-color: #EED6C7;
}

.menu-button:hover {
    -fx-background-color: #e79351;
}

.menu-pane {
    -fx-spacing: 60px;
    -fx-alignment: center;
    -fx-padding: 15 0 15 0;
}

.simulation-button {
    -fx-pref-height: 75px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-family: "Cambria";
    -fx-font-size: 13pt;
    -fx-background-color: #EED6C7;
}

.simulation-button:hover {
    -fx-background-color: #e79351;
}

.simulation-pane {
    -fx-border-color: black;
    -fx-spacing: 12.5;
}

.main-pane {
    -fx-padding: 80px;
    -fx-background-color: #DFEAF6;
}

.center-pane {
    -fx-background-color: #EAEFF5;
    -fx-pref-height: 665px;
    -fx-alignment: center;
}

.prev-button {
    -fx-text-fill: #eee;
    -fx-font-size: 20pt;
    -fx-font-family: "Cambria";
    -fx-background-color: #104B93;
    -fx-pref-width: 200px;
}

.prev-button:hover {
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
}

.dialog-pane {
    -fx-background-color: #c41e1e;
}

.dialog-pane.label {
    -fx-text-fill: #1e4896;
}
